/* Estilo general */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #1B8AF1, #B58DED);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Elimina el scroll */
}

/* Tarjeta de inicio de sesión */
.login-card {
    padding: 40px; /* Espaciado interior de la tarjeta */
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    width: 400px; /* Tarjeta más ancha */
    height: 600px;
}

/* Título */
h4 {
    font-size: 30px;
    margin-bottom: 25px;
}

/* Campos del formulario */
.form-control {
    font-size: 16px;
    padding: 12px;
    border-radius: 8px;
}

/* Botón */
button {
    font-size: 18px;
    padding: 12px;
    border-radius: 8px;
}

/* Alertas */
.alert {
    font-size: 14px;
    margin-bottom: 15px;
}
