/* Sidebar.css */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}

.sidebar.closed {
  transform: translateX(-80%);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top:30px;
}

.sidebar ul li {
  margin: 30px 0;
  transition: font-size 0.3s ease; /* Smooth transition for text size */
}

.sidebar ul li .menu-item {
  text-align: left;
  font-size: 24px; /* Larger font size */
  cursor: pointer;
  display: block;
  color: #00BFFF;
  text-decoration: none;
}

.sidebar ul li .menu-link.active {
  border-bottom: 2px solid #B58DED; /* Bottom border for active link */
  padding-bottom: 5px;
  display: inline;
}

.sidebar ul li a {
  color: #00BFFF;
  text-decoration: none;
  font-size: 20px;
  font-weight: normal;
  display: inline;
  transition: color 0.6s ease, font-weight 0.6s ease, border-bottom-width 0.6s ease;
  border-bottom: 2px solid transparent; /* Initial transparent border */
  padding-bottom: 5px;
}

.sidebar ul li.active a {
  font-weight: bolder;
  text-decoration: none;
  border-bottom-color: #B58DED; /* Color of the bottom border */
  border-bottom-width: 2px; /* Define border width */
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

.sidebar ul li div {
  cursor: pointer;
}

.sub-menu {
  text-align: center; /* Center the sub-menu items */
  list-style-type: none;
  padding: 0;
}

.sub-menu li {
  margin: 10px 0;
}

.sub-menu li a {
  color: #00BFFF;
  text-decoration: none;
  font-size: 18px;
}

.sub-menu li a.active {
  border-bottom: 2px solid #B58DED; /* Bottom border for active link in sub-menu */
  padding-bottom: 5px;
  display: inline;
}

.toggle
.toggle-button {
  margin: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
  position: absolute;
  left: 220px;
  top: 60px;
  z-index: 1000;
  transition: background-color 0.3s ease; /* Transition for background color */
}

.toggle-button:hover {
  background-color: #0056b3;
}
